.classpath
.project
.*
.settings/
!.gitignore
*.class
*.zip
*.tgz
*.tar.gz
*.jar
*.log
/target/
/bin/
/src/test/resources/*~
/src/test/resources/*.log
nb*.xml
Thumbs.db
/nbproject/
/.externalToolBuilders/
pom.xml.releaseBackup
release.properties

